* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}
.box {
    height: 200px;
    width: 200px;
    background-color: rgb(242, 242, 11);
    border: 4px solid black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* transform:rotateX(45deg); */
    /* transform:rotateY(45deg); */
    /* transform:rotateZ(45deg); */
    /* transform:rotate(45deg); */
    /* transform:scale(1.5); */
    /* transform:scaleX(1.5); */
    /* transform:scaleY(1.5); */
    /* transform:skewX(45deg); */
    /* transform:skewY(45deg); */
    /* transform:skew(45deg); */
    /* transform:translateX(100px); */
    /* transform:translateY(100px); */
    /* transform:translate(100px,100px); */
    /* transform:perspective(100px) rotateX(45deg); */
    /* transform:perspective(100px) rotateY(45deg); */
    /* transform:perspective(100px) rotateZ(45deg); */
    /* transform:rotateX(45deg) rotateY(45deg) rotateZ(45deg); */
    
}

.container {
    margin: 55px;
    width: 80vw;
    height: 80vh;
    border: 5px solid purple;
    background-color: wheat;
}