body {
    background-color: #eed7b5;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    color: red;
    font-size: 18px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

#unique {
    border: 2px solid green;
    padding: 10px;
    margin: 20px;
}