/* .container {
    border: 5px solid red;
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: 150px 200px 150px;
}

.item {
    border: 3px solid black;
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin: 10px;
} */

.container {
    border: 3px solid red;
    background-color: wheat;
    padding: 5px;
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: 150px 200px 150px;
    grid-gap: 5px; /* Adds space between grid items */
}

.item {
    border: 3px solid black;
    background-color: aqua;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Positioning specific items */
.item:nth-child(1) {
    grid-column: 1 / 3; /* Span across two columns */
}

.item:nth-child(2) {
    grid-row: 2 / 4; /* Span across two rows */
}