*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    display: flex;
    gap: 50px;
    background-color: wheat;
    align-items: center;
    height: 70px;
    justify-content: center;
}

li{
    background-color: aquamarine;
    padding: 10px 20px ;
    border-radius: 25px;
    border: 5px solid aquamarine;
}